<div
  *transloco="let t"
  class="w-full h-full backdrop-blur-[30px] backdrop-brightness-[1.2] px-6 py-4 md:px-8 md:py-6 flex flex-col gap-6"
  [ngClass]="{
    'text-sky-950': currentFontColorClass === 'text-sky-950',
    'text-white': currentFontColorClass === 'text-white'
  }"
>
  <div class="flex flex-row w-full items-center">
    <div class="w-full text-2xl md:text-4xl font-semibold">Accessibility</div>
    <!-- Close Button-->
    <button
      (click)="closeDialog()"
      class="bg-white/50 hidden sm:flex rounded-full h-11 w-11 shrink-0 items-center justify-center"
    >
      <svg-icon name="x" [svgClass]="'w-8 h-8'"></svg-icon>
    </button>
  </div>

  <div class="w-full text- xl md:text-3xl font-semibold mt-2">Font</div>

  <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
    <button
      (click)="updateFont('comfortaa')"
      class="flex flex-row items-center justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
    >
      Default
    </button>
    <button
      (click)="updateFont('atkinson-hyperlegible')"
      class="flex flex-row items-center atkinson-hyperlegible justify-center h-8 text-lg px-6 py-4 rounded-full bg-white/50 drop-shadow-lg"
    >
      Atkinson Hyperlegible
    </button>
    <button
      (click)="updateFont('opendyslexic')"
      class="flex flex-row items-center opendyslexic justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
    >
      OpenDyslexic
    </button>
  </div>

  <div class="flex mt-auto mb-4 pr-3 flex-row w-full items-center justify-end">
    <!-- Close Button for Screens < md-->

    <button
      (click)="closeDialog()"
      class="flex flex-row items-center justify-center h-12 text-xl px-6 py-5 rounded-full bg-white/50 drop-shadow-lg"
    >
      Close
    </button>
  </div>
</div>
