<div
  class="w-[100vw] h-[100vh] min-w-[100vw] min-h-[100vh] fixed bg-no-repeat bg-center bg-cover -z-10"
  [ngClass]="[getBackgroundImageClass()]"
>
  <div
    class="w-full h-full backdrop-blur-md sm:backdrop-blur-sm backdrop-brightness-[0.95]"
  ></div>
  <responsive-component></responsive-component>
</div>

<div
  *transloco="let t"
  class="flex flex-row gap-4 px-6 py-4 w-full h-full items-start justify-center"
>
  <div
    class="w-1/3 z-10 mr-auto text-3xl md:text-5xl lg:text-6xl font-bold mt-1 md:mt-0 lg:-mt-2 text-slate-100"
  >
    <button routerLink="/">weather</button>
  </div>
  <div
    [ngClass]="centerSearchBar ? 'mt-[46vh]' : 'mt-0'"
    class="w-[45rem] h-full z-10 flex flex-col gap-2"
  >
    <!-- Search Bar for Screen > sm -->
    <div
      class="hidden sm:flex flex-row w-full backdrop-blur-[30px] backdrop-brightness-[1.15] justify-start h-12 gap-4 items-center py-3 px-4 rounded-full"
    >
      <svg-icon
        name="magnifying-glass"
        [svgClass]="'w-7 h-7 stroke-2'"
      ></svg-icon>
      <input
        #searchInput="matInput"
        matInput
        class="search-input text-xl w-full border-none bg-transparent placeholder-gray-700 focus:bg-transparent focus:border-none focus:shadow-none focus:outline-none"
        placeholder="{{ t('overlay.search') }}"
        [autocomplete]="'off'"
        [formControl]="searchInputControl"
        [spellcheck]="false"
      />
      <svg-icon
        name="location"
        class="ml-auto"
        [svgClass]="'w-7 h-7'"
      ></svg-icon>
    </div>
    <div
      class="absolute scrollbar-thin scrollbar-thumb-white/50 scrollbar-track-white/25 overflow-y-auto self-center mt-14 z-20 rounded-2xl items-center justify-start flex flex-col max-h-[20rem] backdrop-blur-[30px] backdrop-brightness-[1.15] w-[42rem]"
      *ngIf="searchInput.focused && searchInput.value.length > 0"
    >
      <div class="mt-2"></div>
      <button
        (pointerup)="viewLocation(location)"
        (pointerdown)="preventEvent($event)"
        *ngFor="let location of locationResults"
        class="text-2xl self-center py-2 px-4 w-[98%] text-start hover:bg-white/25 rounded-xl"
      >
        <a>{{ t('locations.' + location) }}</a>
      </button>
      <div
        *ngIf="locationResults?.length === 0"
        class="text-2xl self-center py-2 px-4 w-[98%] text-start"
      >
        No location found
      </div>
      <div class="mb-2"></div>
    </div>
    <!-- Recent Locations -->
    <div
      class="flex flex-wrap flex-row text-md font-medium items-center gap-2 w-full pl-7 hidden md:flex"
    >
      {{ t('overlay.recent-locations') }} :
      <div
        routerLink="/athens-greece"
        class="rounded-full text-center h-7 backdrop-blur-[30px] backdrop-brightness-[1.15] px-3 pt-0.5 pb-0.5 cursor-pointer"
      >
        {{ t('locations.athens-greece') }}
      </div>
      <div
        class="rounded-full h-7 text-center backdrop-blur-[30px] backdrop-brightness-[1.15] px-3 py-0.5 cursor-pointer"
      >
        {{ t('locations.larissa-greece') }}
      </div>
    </div>
  </div>

  <!-- Language, Accessibility & Settings -->
  <div class="flex z-10 flex-row items-center justify-end w-1/3 gap-3 ml-auto">
    <svg-icon name="uk-flag" class="mr-1" [svgClass]="'w-9 h-9'"></svg-icon>
    <svg-icon name="accessibility" [svgClass]="'w-9 h-9'"></svg-icon>
    <svg-icon name="cog" [svgClass]="'w-11 h-11'"></svg-icon>
  </div>
</div>

<!-- Navigation for Screen > sm -->
<div *transloco="let t" class="flex sm:hidden flex-col px-6 -mt-2">
  <!-- Search Bar for Screen < sm -->
  <div
    class="flex flex-row w-full backdrop-blur-[30px] backdrop-brightness-[1.15] justify-center h-10 gap-4 items-center py-3 px-4 rounded-full"
  >
    <svg-icon
      name="magnifying-glass"
      [svgClass]="'w-7 h-7 stroke-2'"
    ></svg-icon>
    <input
      #searchInput="matInput"
      matInput
      class="search-input text-xl w-full border-none bg-transparent placeholder-gray-700 focus:bg-transparent focus:border-none focus:shadow-none focus:outline-none"
      placeholder="{{ t('overlay.search') }}"
      [autocomplete]="'off'"
      [formControl]="searchInputControl"
      [spellcheck]="false"
    />
  </div>
  <div
    class="absolute scrollbar-thin scrollbar-thumb-white/50 scrollbar-track-white/25 overflow-y-auto self-center mt-14 z-20 rounded-2xl items-center justify-start flex flex-col max-h-[14rem] backdrop-blur-[30px] backdrop-brightness-[1.15] w-5/6"
    *ngIf="searchInput.focused && searchInput.value.length > 0"
  >
    <div class="mt-2"></div>
    <button
      (pointerup)="viewLocation(location)"
      (pointerdown)="preventEvent($event)"
      *ngFor="let location of locationResults"
      class="text-2xl self-center py-2 px-4 w-[98%] text-start hover:bg-white/25 rounded-xl"
    >
      <a>{{ t('locations.' + location) }}</a>
    </button>
    <div
      *ngIf="locationResults?.length === 0"
      class="text-2xl self-center py-2 px-4 w-[98%] text-start"
    >
      No location found
    </div>
    <div class="mb-2"></div>
  </div>
</div>

<div class="w-[100vw] h-[83vh] sm:h-[90vh]">
  <router-outlet></router-outlet>
</div>
