<div
  *transloco="let t"
  class="w-[95vw] h-[76vh] relative sm:fixed z-1 -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2"
>
  <div
    *ngIf="location"
    class="w-full h-full flex justify-center items-center flex-row gap-8"
  >
    <div
      class="backdrop-blur-[30px] backdrop-brightness-[1.15] rounded-3xl flex justify-center items-center flex-row gap-8 p-4"
    >
      <div class="flex flex-col items-center">
        <!-- Weather Summary-->
        <div class="flex flex-row mr-auto gap-11">
          <button
            routerLink=".."
            class="bg-white/50 rounded-full h-11 w-11 mt-3 ml-3 flex items-center justify-center"
          >
            <svg-icon name="arrow-left" [svgClass]="'w-6 h-6'"></svg-icon>
          </button>
          <div
            class="items-center justify-center flex flex-col p-4 text-center gap-3"
          >
            <div class="w-full text-4xl font-semibold">
              {{ t('locations.' + location.id) }}
            </div>
            <div class="text-2xl font-semibold">
              {{ time | date: 'EEEE, MMMM d' }}
            </div>
            <div class="flex flex-row justify-center mt-4">
              <svg-icon
                name="{{
                  getTimeAdjustedWeatherIconName(
                    location.weather[0].weatherCondition,
                    location.weather[0].dateTime
                  )
                }}"
                [svgClass]="'w-28 h-28'"
              ></svg-icon>
              <div class="ml-2 text-9xl">
                {{ location.weather[0].temperatureCelsius }}
              </div>
              <div class="text-3xl font-semibold">°C</div>
            </div>
            <div class="text-2xl font-semibold">
              {{
                t(
                  'location.weather-conditions.' +
                    location.weather[0].weatherCondition
                )
              }}
            </div>
            <div class="text-2xl font-semibold flex flex-row gap-2">
              <div>{{ time | date: 'shortTime' }}&nbsp;</div>
              <div>H : {{ getHighestLocationTemperature() }}°&nbsp;</div>
              <div>L : {{ getLowestLocationTemperature() }}°</div>
            </div>
          </div>
        </div>
        <!-- Weather Details -->
        <div class="flex flex-row p-4 gap-3">
          <!-- Precipitation, Humidity & UV Index -->
          <div class="flex flex-col gap-3">
            <!-- Precipitation -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
              >
                <svg-icon name="precipitation" [svgClass]="'w-6 h-6'"></svg-icon
                >Precipitation
              </div>
              <div
                class="flex flex-row text-3xl font-semibold items-center justify-start"
              >
                7%
              </div>
            </div>
            <!-- Humidity -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
              >
                <svg-icon name="humidity" [svgClass]="'w-6 h-6'"></svg-icon
                >Humidity
              </div>
              <div
                class="flex flex-row text-3xl font-semibold items-center justify-start"
              >
                57%
              </div>
            </div>
            <!-- UV Index -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
              >
                <svg-icon name="uv-index" [svgClass]="'w-6 h-6'"></svg-icon>UV
                Index
              </div>
              <div
                class="flex flex-row text-3xl gap-2 font-semibold items-center justify-start"
              >
                3
                <div class="text-xl">Moderate</div>
              </div>
              <div
                class="uv-index-gradient w-30 h-3 rounded-full flex flex-row items-center"
              >
                <div
                  class="bg-white rounded-full h-5 w-5 relative left-[2rem]"
                ></div>
              </div>
            </div>
          </div>
          <!-- Wind, Gusts & Air Quality Index-->
          <div class="flex flex-col gap-3">
            <!-- Wind & Gusts -->

            <div
              class="bg-white/50 rounded-3xl flex flex-row items-center px-5 gap-6"
            >
              <div class="flex flex-col items-start gap-[0.3rem]">
                <!-- Wind -->
                <div class="flex flex-col py-4 gap-2">
                  <div
                    class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
                  >
                    <svg-icon name="wind" [svgClass]="'w-6 h-6'"></svg-icon>Wind
                  </div>
                  <div
                    class="flex flex-row text-3xl font-semibold items-center justify-start"
                  >
                    15 km/h
                  </div>
                </div>
                <div
                  class="border-solid border-black rounded-full border-[1.5px] w-full"
                ></div>
                <!-- Gusts -->
                <div class="flex flex-col py-4 gap-2">
                  <div
                    class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
                  >
                    <svg-icon name="gusts" [svgClass]="'w-6 h-6'"></svg-icon
                    >Gusts
                  </div>
                  <div
                    class="flex flex-row text-3xl font-semibold items-center justify-start"
                  >
                    22 km/h
                  </div>
                </div>
              </div>
              <div
                class="grid grid-cols-3 grid-rows-3 h-20 w-20 shrink-0 gap-x-2 outline gap-y-1 outline-[2.5px] pl-[0.4rem] font-semibold rounded-full"
              >
                <div></div>
                <div class="">N</div>
                <div></div>
                <div>W</div>
                <div
                  [ngClass]="
                    getCompassArrowRotationClass(
                      location.weather[0].windDirection
                    )
                  "
                  class="flex -ml-[0.45rem] flex-row items-center justify-center"
                >
                  <svg-icon
                    name="compass-arrow"
                    [svgClass]="'w-7 h-7'"
                  ></svg-icon>
                </div>
                <div>E</div>
                <div></div>
                <div>S</div>
                <div></div>
              </div>
              <!--<div
                class="flex flex-col items-center h-20 w-20 rounded-full outline outline-[2.5px] shrink-0"
              >
                <div class="text-lg">N</div>
                <div class="text-lg w-full flex flex-row items-start px-1">
                  <div class="mr-auto">W</div>
                  <div class="relative left-[-0.1rem]">O</div>
                  <div class="ml-auto">E</div>
                </div>
                <div class="text-lg">S</div>
              </div>-->
            </div>
            <!-- Air Quality Index -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
              >
                <svg-icon
                  name="air-quality-index"
                  [svgClass]="'w-6 h-6'"
                ></svg-icon
                >Air Quality Index
              </div>
              <div
                class="flex flex-row text-3xl gap-2 font-semibold items-center justify-start"
              >
                37
                <div class="text-xl">Good</div>
              </div>
              <div
                class="air-quality-index-gradient w-30 h-3 rounded-full flex flex-row items-center"
              >
                <div
                  class="bg-white rounded-full h-5 w-5 relative left-[2rem]"
                ></div>
              </div>
            </div>
          </div>
          <!--<div class="flex flex-col w-40 bg-black"></div>-->
        </div>
      </div>

      <!-- 30 Day Forecast -->
      <div class="flex flex-col gap-3 px-8 py-6">
        <div class="flex flex-row items-center justify-start text-xl w-full">
          {{ getWeatherForecast() }}
        </div>
        <!-- Separator Line-->
        <div
          class="w-full border-solid border-[1.5px] rounded-full border-black"
        ></div>
        <!-- Hourly Weather Container -->
        <div
          class="flex items-center justify-center flex-row w-full h-4/6 gap-10 my-6"
        >
          <div
            *ngFor="
              let weather of location.weather;
              let first = first;
              let last = last
            "
            class="flex flex-col h-full justify-center items-center gap-4"
          >
            <div class="font-semibold">
              {{
                first
                  ? t('location.now')
                  : (getLocalTime(weather.dateTime) | date: 'h a')
              }}
            </div>
            <svg-icon
              name="{{
                getTimeAdjustedWeatherIconName(
                  weather.weatherCondition,
                  weather.dateTime
                )
              }}"
              [svgClass]="'w-14 h-14'"
            ></svg-icon>
            <div class="text-2xl font-semibold">
              &nbsp;{{ weather.temperatureCelsius }}°
            </div>
          </div>
        </div>
        <div class="flex flex-row items-center justify-end w-full h-1/6">
          <button
            routerLink="details"
            class="flex flex-row items-center justify-center h-12 text-xl px-6 py-5 rounded-full bg-white/50 drop-shadow-lg"
          >
            {{ t('location.view-full-forecast') }}
          </button>
        </div>
      </div>
      <!-- Hourly Weather Graph - List -->
    </div>
  </div>
</div>
