<!-- mt-[4rem] sm:mt-0 fixed z-1 -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 -->

<div
  *transloco="let t"
  class="w-[100vw] h-[83vh] sm:h-[90vh] -mt-2 sm:-mt-10 flex z-10 items-center justify-center"
>
  <!-- Weather Details from Screen > lg -->
  <div
    *ngIf="location"
    class="w-full h-full hidden lg:flex justify-center items-center flex-row gap-8"
  >
    <div
      class="backdrop-blur-[30px] backdrop-brightness-[1.15] rounded-3xl flex justify-center items-start flex-row gap-8 p-6 tall:p-8"
    >
      <div
        *ngIf="currentlySelectedSingularWeather"
        class="flex flex-col gap-8 max-h-[85vh] max-w-[50vw] items-start justify-center"
      >
        <div class="absolute top-5">
          <!-- Back Button-->
          <button
            routerLink=".."
            class="bg-white/50 rounded-full h-11 w-11 shrink-0 flex mt-3 flex items-center justify-center"
          >
            <svg-icon name="arrow-left" [svgClass]="'w-6 h-6'"></svg-icon>
          </button>
        </div>
        <!-- Weather Summary-->
        <div class="flex flex-row justify-center self-center max-h-[35vh]">
          <div
            class="items-center justify-center flex flex-col self-center text-center gap-2 tall:gap-3"
          >
            <div class="w-full text-2xl tall:text-4xl font-semibold">
              {{ t('locations.' + location.id) }}
            </div>
            <div class="text-xl tall:text-2xl font-semibold">
              {{
                currentlySelectedSingularWeather.dateTime | date: 'EEEE, MMMM d'
              }}
            </div>
            <div class="flex flex-row items-center justify-center mt-4">
              <svg-icon
                class="-mt-2"
                name="{{
                  getTimeAdjustedWeatherIconName(
                    currentlySelectedSingularWeather.weatherCondition,
                    currentlySelectedSingularWeather.dateTime
                  )
                }}"
                [svgClass]="'w-20 h-20'"
              ></svg-icon>
              <div class="ml-2 text-8xl tall:text-9xl">
                {{ currentlySelectedSingularWeather.temperatureCelsius }}
              </div>
              <div class="text-2xl tall:text-3xl font-semibold">°C</div>
            </div>
            <div class="text-xl tall:text-2xl font-semibold">
              {{
                t(
                  'location.weather-conditions.' +
                    currentlySelectedSingularWeather.weatherCondition
                )
              }}
            </div>
            <div
              class="text-xl tall:text-2xl font-semibold flex flex-row gap-2"
            >
              <div>
                {{
                  getLocalTime(currentlySelectedSingularWeather.dateTime)
                    | date: 'shortTime'
                }}&nbsp;
              </div>
              <div>H : {{ getHighestLocationTemperature() }}°&nbsp;</div>
              <div>L : {{ getLowestLocationTemperature() }}°</div>
            </div>
          </div>
        </div>
        <!-- Weather Details -->
        <div class="flex flex-row gap-2 tall:gap-3">
          <!-- Precipitation, Humidity & UV Index -->
          <div class="flex flex-col gap-2 tall:gap-3">
            <!-- Precipitation -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-xl font-semibold"
              >
                <svg-icon name="precipitation" [svgClass]="'w-6 h-6'"></svg-icon
                >Precipitation
              </div>
              <div
                class="flex flex-row text-2xl tall:text-3xl font-semibold items-center justify-start"
              >
                {{
                  currentlySelectedSingularWeather.precipitationProbabilityPercent
                }}%
              </div>
            </div>
            <!-- Humidity -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-lg tall:text-xl font-semibold"
              >
                <svg-icon name="humidity" [svgClass]="'w-6 h-6'"></svg-icon
                >Humidity
              </div>
              <div
                class="flex flex-row text-2xl tall:text-3xl font-semibold items-center justify-start"
              >
                {{ currentlySelectedSingularWeather.humidityPercent }}%
              </div>
            </div>
            <!-- UV Index -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-lg tall:text-xl font-semibold"
              >
                <svg-icon name="uv-index" [svgClass]="'w-6 h-6'"></svg-icon>UV
                Index
              </div>
              <div
                class="flex flex-row text-2xl tall:text-3xl gap-2 font-semibold items-center justify-start"
              >
                {{ currentlySelectedSingularWeather.uvIndex }}
                <div class="text-xl">
                  {{
                    getUvIndexClassification(
                      currentlySelectedSingularWeather.uvIndex
                    )
                  }}
                </div>
              </div>
              <div
                class="uv-index-gradient w-30 h-3 rounded-full flex flex-row items-center"
              >
                <div
                  [ngStyle]="{
                    left: getUvIndexSliderClass(
                      currentlySelectedSingularWeather.uvIndex
                    )
                  }"
                  class="bg-white rounded-full h-5 w-5 relative left-[2rem]"
                ></div>
              </div>
            </div>
          </div>
          <!-- Wind, Gusts & Air Quality Index-->
          <div class="flex flex-col gap-2 tall:gap-3">
            <!-- Wind & Gusts -->

            <div
              class="bg-white/50 rounded-3xl flex flex-row items-center px-5 gap-6"
            >
              <div class="flex flex-col items-start gap-[0.3rem]">
                <!-- Wind -->
                <div class="flex flex-col py-3.5 tall:py-4 gap-2">
                  <div
                    class="flex flex-row items-center justify-start gap-2 text-lg tall:text-xl font-semibold"
                  >
                    <svg-icon name="wind" [svgClass]="'w-6 h-6'"></svg-icon>Wind
                  </div>
                  <div
                    class="flex flex-row text-2xl tall:text-3xl font-semibold items-center justify-start"
                  >
                    {{ currentlySelectedSingularWeather.windSpeedKmh }} km/h
                  </div>
                </div>
                <div
                  [ngClass]="{
                    'border-sky-950': currentFontColorClass === 'text-sky-950',
                    'border-white': currentFontColorClass === 'text-white'
                  }"
                  class="border-solid rounded-full border-[1.5px] w-full"
                ></div>
                <!-- Gusts -->
                <div class="flex flex-col py-4 tall:py-4 gap-2">
                  <div
                    class="flex flex-row items-center justify-start gap-2 text-lg tall:text-xl font-semibold"
                  >
                    <svg-icon name="gusts" [svgClass]="'w-6 h-6'"></svg-icon
                    >Gusts
                  </div>
                  <div
                    class="flex flex-row text-2xl tall:text-3xl font-semibold items-center justify-start"
                  >
                    {{ currentlySelectedSingularWeather.windGustsKmh }} km/h
                  </div>
                </div>
              </div>
              <div
                class="grid grid-cols-3 grid-rows-3 h-20 w-20 shrink-0 gap-x-2 outline gap-y-1 outline-[2.5px] pl-[0.4rem] font-semibold rounded-full"
              >
                <div></div>
                <div class="">{{ t('location.details.compass-north') }}</div>
                <div></div>
                <div>{{ t('location.details.compass-west') }}</div>
                <div
                  [ngClass]="
                    getCompassArrowRotationClass(
                      currentlySelectedSingularWeather.windDirection
                    )
                  "
                  class="flex -ml-[0.45rem] flex-row items-center justify-center"
                >
                  <svg-icon
                    name="compass-arrow"
                    [svgClass]="'w-7 h-7'"
                  ></svg-icon>
                </div>
                <div>{{ t('location.details.compass-east') }}</div>
                <div></div>
                <div>{{ t('location.details.compass-south') }}</div>
                <div></div>
              </div>
            </div>
            <!-- Air Quality Index -->
            <div class="bg-white/50 py-4 px-5 rounded-3xl flex flex-col gap-2">
              <div
                class="flex flex-row items-center justify-start gap-2 text-lg tall:text-xl font-semibold"
              >
                <svg-icon
                  name="air-quality-index"
                  [svgClass]="'w-6 h-6'"
                ></svg-icon
                >Air Quality Index
              </div>
              <div
                class="flex flex-row text-2xl tall:text-3xl gap-2 font-semibold items-center justify-start"
              >
                {{ currentlySelectedSingularWeather.airQualityIndex }}
                <div class="text-xl">
                  {{
                    getAirQualityIndexClassification(
                      currentlySelectedSingularWeather.airQualityIndex
                    )
                  }}
                </div>
              </div>
              <div
                class="air-quality-index-gradient w-30 h-3 rounded-full flex flex-row items-center"
              >
                <div
                  [ngStyle]="{
                    left: getAirQualityIndexSliderClass(
                      currentlySelectedSingularWeather.airQualityIndex
                    )
                  }"
                  class="bg-white rounded-full h-5 w-5 relative"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 30 Day Forecast, Graph & List -->
      <div
        class="flex flex-col max-h-[85vh] max-w-[30vw] items-start justify-start rounded-full gap-2"
      >
        <div class="text-2xl tall:text-4xl font-semibold">30 Day Forecast</div>
        <!-- 30 Day Forecast Container -->
        <div
          (wheel)="onWheel($event)"
          id="day-weather-container"
          class="flex items-start scrollbar-thin scrollbar-thumb-white/50 scrollbar-track-white/25 justify-start flex-row w-full gap-3 tall:gap-5 py-1 tall:py-3 overflow-x-auto"
        >
          <button
            (click)="selectDayWeather(weather.dateTime)"
            *ngFor="
              let weather of dayAveragedWeather | slice: 0 : 30;
              let first = first;
              let last = last
            "
            class="flex bg-white/50 rounded-2xl px-6 py-3 flex-col h-full justify-center items-center gap-2 tall:gap-4"
            [ngClass]="{
              'border-white':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y'),
              'border-solid':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y'),
              'border-[4px]':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y')
            }"
          >
            <div class="flex flex-col gap-0.5 items-center justify-center">
              <div class="font-semibold text-lg">
                {{
                  first
                    ? t('location.today')
                    : (getLocalTime(weather.dateTime) | date: 'EEE')
                }}
              </div>
              <div class="font-semibold text-sm">
                {{ getLocalTime(weather.dateTime) | date: 'M/d' }}
              </div>
            </div>
            <svg-icon
              name="{{
                getTimeAdjustedWeatherIconName(
                  weather.weatherCondition,
                  weather.dateTime
                )
              }}"
              [svgClass]="'w-14 h-14'"
            ></svg-icon>
            <div class="text-2xl font-semibold">
              &nbsp;{{ weather.temperatureCelsius }}°
            </div>
          </button>
        </div>
        <!-- Weather Graph-List Toggle -->
        <div class="flex flex-row w-full items-end justify-end">
          <label class="switch">
            <input
              (change)="onChangeHourlyWeatherStyle($event)"
              [checked]="hourlyWeatherStyleToggle === 'graph'"
              type="checkbox"
            />
            <span class="slider round"
              ><div
                class="flex flex-row w-full h-full text-xl items-center justify-start gap-6 px-4"
              >
                <svg-icon
                  name="list"
                  class="z-10"
                  [svgClass]="'w-6 h-6'"
                ></svg-icon>
                <svg-icon
                  name="graph"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon></div
            ></span>
          </label>
        </div>
        <!-- Hourly Weather List -->
        <div
          *ngIf="hourlyWeatherStyleToggle === 'list'"
          class="gap-2 flex flex-col w-full items-start rounded-3xl w-full h-[23.6rem] px-3 py-3 bg-white/50 overflow-y-auto scrollbar-thin scrollbar-thumb-white/50 scrollbar-track-white/25"
        >
          <button
            *ngFor="
              let weather of currentlySelectedWeather;
              let first = first;
              let last = last
            "
            (click)="selectHourWeather(weather.dateTime)"
            class="text-xl h-12 px-3 py-2 font-semibold w-full flex flex-row justify-start items-center gap-5 hover:bg-white/50 rounded-xl"
          >
            <div class="w-[3%] items-center flex flex-row justify-end">
              {{ getLocalTime(weather.dateTime) | date: 'h' }}
            </div>
            <div class="w-[4%] -ml-2 items-center flex flex-row justify-start">
              {{ getLocalTime(weather.dateTime) | date: 'a' }}
            </div>
            <div class="w-[10%] items-center flex flex-row justify-center">
              {{ weather.temperatureCelsius }}°
            </div>
            <div class="w-[30%] items-center flex flex-row justify-start gap-2">
              <svg-icon
                name="{{
                  getTimeAdjustedWeatherIconName(
                    weather.weatherCondition,
                    weather.dateTime
                  )
                }}"
                [svgClass]="'w-5 h-5'"
              ></svg-icon>

              {{ t('location.weather-conditions.' + weather.weatherCondition) }}
            </div>
            <div class="w-[13%] items-center flex flex-row justify-start gap-2">
              <svg-icon name="humidity" [svgClass]="'w-4 h-4'"></svg-icon>

              <div class="w-[30%] self-end flex flex-row justify-center">
                {{ weather.humidityPercent }}
              </div>
              <div>%</div>
            </div>
            <div class="w-[18%] items-center flex flex-row justify-start gap-2">
              <svg-icon name="wind" [svgClass]="'w-4 h-4'"></svg-icon>

              <div class="w-[15%] self-end flex flex-row justify-center">
                {{ weather.windSpeedKmh }}
              </div>
              <div>km/h</div>
            </div>
            <div class="w-[4%] items-center flex flex-row justify-start">
              <svg-icon name="arrow-down" [svgClass]="'w-6 h-6'"></svg-icon>
            </div>
          </button>
        </div>
        <!-- Hourly Weather Graph-->
        <div
          [ngClass]="{
            block: hourlyWeatherStyleToggle === 'graph',
            hidden: hourlyWeatherStyleToggle !== 'graph'
          }"
          class="overflow-hidden flex flex-col w-full items-start justify-start rounded-3xl w-full h-[20rem] tall:h-[23.6rem] bg-black/25"
        >
          <!-- Weather Data toggle -->
          <div class="flex flex-row mt-3 -ml-4 w-full items-center justify-end">
            <div class="flex flex-row px-2 items-center">
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Temperature"
                (click)="selectGraphType('temperature')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'temperature',
                  'border-sky-950': currentFontColorClass === 'text-sky-950',
                  'border-white': currentFontColorClass === 'text-white'
                }"
                class="p-1 pr-2 flex flex-row items-center pl-3 border-r border-solid justify-center bg-white/25 rounded-s-full"
              >
                <svg-icon
                  name="temperature"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Precipitation"
                (click)="selectGraphType('precipitation')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'precipitation'
                }"
                class="py-1 flex flex-row items-center px-2 justify-center bg-white/25"
              >
                <svg-icon
                  name="precipitation"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Wind"
                (click)="selectGraphType('wind')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'wind',
                  'border-sky-950': currentFontColorClass === 'text-sky-950',
                  'border-white': currentFontColorClass === 'text-white'
                }"
                class="p-1 pr-3 flex flex-row items-center pl-2 border-l border-solid justify-center bg-white/25 rounded-e-full"
              >
                <svg-icon
                  name="wind"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
            </div>
          </div>
          <div class="w-full px-7 flex items-center justify-center h-[21rem]">
            <canvas id="myChart"></canvas>
          </div>
          <div
            class="w-full h-12 justify-center grid grid-cols-7 gap-4 h-12 bg-white/25 items-center text-center"
          >
            <div>12 AM</div>
            <div>4 AM</div>
            <div>8 AM</div>
            <div>12 PM</div>
            <div>16 PM</div>
            <div>20 PM</div>
            <div>12 AM</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Weather Details from Screen < lg -->
  <div
    *ngIf="location"
    class="w-full h-full flex lg:hidden justify-center items-center flex-col gap-3"
  >
    <div
      class="rounded-3xl flex justify-center items-center flex-col gap-3 px-2 pt-3"
    >
      <div
        *ngIf="currentlySelectedSingularWeather"
        class="flex flex-col gap-8 items-start w-full justify-center"
      >
        <!-- Weather Summary-->
        <div class="flex flex-row justify-start items-start self-center w-full">
          <div
            class="items-start justify-center flex flex-col self-center text-start"
          >
            <div class="text-xl font-semibold truncate">
              {{ t('locations.' + location.id) }}
            </div>
            <div class="font-semibold">
              {{
                currentlySelectedSingularWeather.dateTime | date: 'EEEE, MMMM d'
              }}
            </div>
            <div class="flex flex-row justify-center mt-1">
              <svg-icon
                name="{{
                  getTimeAdjustedWeatherIconName(
                    currentlySelectedSingularWeather.weatherCondition,
                    currentlySelectedSingularWeather.dateTime
                  )
                }}"
                [svgClass]="'w-10 h-10'"
              ></svg-icon>
              <div class="flex flex-row justify-center items-start">
                <div class="ml-2 text-4xl">
                  {{ currentlySelectedSingularWeather.temperatureCelsius }}
                </div>
                <div class="text-lg font-semibold">°C</div>
              </div>
            </div>
            <div class="font-semibold">
              {{
                t(
                  'location.weather-conditions.' +
                    currentlySelectedSingularWeather.weatherCondition
                )
              }}
            </div>
            <div class="font-semibold flex flex-row gap-2">
              <div>
                {{
                  getLocalTime(currentlySelectedSingularWeather.dateTime)
                    | date: 'shortTime'
                }}&nbsp;
              </div>
            </div>
          </div>
          <div
            class="ml-auto items-end justify-start flex flex-col h-full text-end"
          >
            <div class="text-xl font-semibold">&nbsp;</div>
            <div
              class="items-center font-semibold flex flex-row justify-center gap-1"
            >
              <svg-icon name="precipitation" [svgClass]="'w-5 h-5'"></svg-icon>

              <div class="flex flex-row justify-center">
                {{
                  currentlySelectedSingularWeather.precipitationProbabilityPercent
                }}
              </div>
              <div>%</div>
            </div>
            <div
              class="items-center font-semibold flex flex-row justify-center gap-1"
            >
              <svg-icon name="humidity" [svgClass]="'w-4 h-4'"></svg-icon>

              <div class="flex flex-row justify-center">
                {{ currentlySelectedSingularWeather.humidityPercent }}
              </div>
              <div>%</div>
            </div>
            <div
              class="items-center font-semibold flex flex-row justify-center gap-1"
            >
              <svg-icon name="wind" [svgClass]="'w-4 h-4'"></svg-icon>

              <div class="flex flex-row justify-center">
                {{ currentlySelectedSingularWeather.windSpeedKmh }}
              </div>
              <div>km/h</div>
              <div
                [ngClass]="
                  getCompassArrowRotationClass(
                    currentlySelectedSingularWeather.windDirection
                  )
                "
                class="flex flex-row items-center justify-center"
              >
                <svg-icon
                  name="compass-arrow"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 30 Day Forecast, Graph & List -->
      <div
        class="flex flex-col max-w-[90vw] items-start justify-start rounded-full"
      >
        <!-- Hourly Weather Graph-->
        <div
          class="overflow-hidden self-center flex flex-col items-start justify-start rounded-3xl w-full h-[33vh] bg-black/25"
        >
          <!-- Weather Data toggle -->
          <div class="flex flex-row mt-3 -ml-4 w-full items-center justify-end">
            <div class="flex flex-row px-2 items-center">
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Temperature"
                (click)="selectGraphType('temperature')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'temperature'
                }"
                class="p-1 pr-2 flex flex-row items-center pl-3 border-r border-solid border-black justify-center bg-white/25 rounded-s-full"
              >
                <svg-icon
                  name="temperature"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Precipitation"
                (click)="selectGraphType('precipitation')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'precipitation'
                }"
                class="py-1 flex flex-row items-center px-2 justify-center bg-white/25"
              >
                <svg-icon
                  name="precipitation"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
              <button
                [matTooltipClass]="
                  'backdrop-blur-[30px] backdrop-brightness-[1.1] bg-white/25 drop-shadow-xl text-sm rounded-full'
                "
                [matTooltipPosition]="'below'"
                #tooltip="matTooltip"
                matTooltip="Wind"
                (click)="selectGraphType('wind')"
                [ngClass]="{
                  'bg-white/50': selectedGraphType === 'wind'
                }"
                class="p-1 pr-3 flex flex-row items-center pl-2 border-l border-solid border-black justify-center bg-white/25 rounded-e-full"
              >
                <svg-icon
                  name="wind"
                  class="z-10"
                  [svgClass]="'w-5 h-5'"
                ></svg-icon>
              </button>
            </div>
          </div>
          <div class="w-full px-2 flex items-center justify-center h-full">
            <canvas id="myChart2"></canvas>
          </div>
          <div
            class="w-full h-12 justify-center grid grid-cols-7 gap-4 px-2 h-8 bg-white/25 items-center text-center"
          >
            <div>12</div>
            <div>4</div>
            <div>8</div>
            <div>12</div>
            <div>16</div>
            <div>20</div>
            <div>12</div>
          </div>
        </div>

        <div class="text-lg mt-1 font-semibold">30 Day Forecast</div>
        <!-- 30 Day Forecast Container -->
        <div
          (wheel)="onWheel($event)"
          id="day-weather-container"
          class="flex items-start scrollbar-thin scrollbar-thumb-white/50 scrollbar-track-white/25 justify-start flex-row w-full h-26 gap-2 py-1 overflow-x-auto"
        >
          <button
            (click)="selectDayWeather(weather.dateTime)"
            *ngFor="
              let weather of dayAveragedWeather | slice: 0 : 30;
              let first = first;
              let last = last
            "
            class="flex bg-white/50 rounded-2xl px-4 py-2 flex-col h-full justify-center items-center gap-1"
            [ngClass]="{
              'border-white':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y'),
              'border-solid':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y'),
              'border-[2px]':
                (weather.dateTime | date: 'M-d-y') ===
                (currentlySelectedWeather[0].dateTime | date: 'M-d-y')
            }"
          >
            <div class="flex flex-col gap-0.5 items-center justify-center">
              <div class="font-semibold text-sm">
                {{
                  first
                    ? t('location.now')
                    : (getLocalTime(weather.dateTime) | date: 'EEE')
                }}
              </div>
              <div class="font-semibold text-sm">
                {{ getLocalTime(weather.dateTime) | date: 'M/d' }}
              </div>
            </div>
            <svg-icon
              name="{{
                getTimeAdjustedWeatherIconName(
                  weather.weatherCondition,
                  weather.dateTime
                )
              }}"
              [svgClass]="'w-8 h-8'"
            ></svg-icon>
            <div class="font-semibold">
              &nbsp;{{ weather.temperatureCelsius }}°
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
