@use '@angular/material' as mat;

@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource/comfortaa';
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/opendyslexic';

.comfortaa {
  font-family: 'Comfortaa' !important;
}
.atkinson-hyperlegible {
  font-family: 'Atkinson Hyperlegible' !important;
}
.opendyslexic {
  font-family: 'OpenDyslexic' !important;
}

@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-fix':

      <div class="before:backdrop-blur-md before:backdrop-fix>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-fix {
    @apply absolute inset-0 -z-10;
  }
}

/* Make lines in line chart thick, with rounded ends */
g.line-chart.chart > g:last-of-type > g:nth-child(1) g.line-series > path {
  stroke-width: 10;
  stroke-linecap: round;
}

g.line-chart > g:last-of-type > g:nth-child(1) g.line-series > g > path {
  stroke-width: 5px;
  stroke-linecap: round;
  //stroke: black !important;
}

g.line-chart.chart {
  padding-top: 100px !important;
  //stroke: black !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 24px;
}

.mat-mdc-dialog-surface {
  background-color: transparent !important;
}

.iridescent {
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    52deg,
    rgba(131, 58, 180, 0.5580357142857143) 0%,
    rgba(228, 29, 253, 0.5048144257703081) 34%,
    rgba(252, 176, 69, 0.5188200280112045) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(131, 58, 180, 0.5580357142857143) 0%,
    rgba(228, 29, 253, 0.5048144257703081) 34%,
    rgba(252, 176, 69, 0.5188200280112045) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(131, 58, 180, 0.5580357142857143) 0%,
    rgba(228, 29, 253, 0.5048144257703081) 34%,
    rgba(252, 176, 69, 0.5188200280112045) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
