@use '@angular/material' as mat;

@include mat.core();

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource/comfortaa';
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/opendyslexic';

.comfortaa {
  font-family: 'Comfortaa' !important;
}
.atkinson-hyperlegible {
  font-family: 'Atkinson Hyperlegible' !important;
}
.opendyslexic {
  font-family: 'OpenDyslexic' !important;
}

@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-fix':

      <div class="before:backdrop-blur-md before:backdrop-fix>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-fix {
    @apply absolute inset-0 -z-10;
  }
}

/* Make lines in line chart thick, with rounded ends */
g.line-chart.chart > g:last-of-type > g:nth-child(1) g.line-series > path {
  stroke-width: 10;
  stroke-linecap: round;
}

g.line-chart > g:last-of-type > g:nth-child(1) g.line-series > g > path {
  stroke-width: 5px;
  stroke-linecap: round;
  //stroke: black !important;
}

g.line-chart.chart {
  padding-top: 100px !important;
  //stroke: black !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 24px;
}

.mat-mdc-dialog-surface {
  background-color: transparent !important;
}

.iridescent {
  background: rgb(192, 153, 218);
  background: -moz-linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.35) 0%,
    rgba(239, 157, 249, 0.35) 34%,
    rgba(238, 192, 127, 0.3) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.35) 0%,
    rgba(239, 157, 249, 0.35) 34%,
    rgba(238, 192, 127, 0.3) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.35) 0%,
    rgba(239, 157, 249, 0.35) 34%,
    rgba(238, 192, 127, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c099da",endColorstr="#eec07f",GradientType=1);
}

.iridescent-background {
  background: rgb(192, 153, 218);
  background: -moz-linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.2) 0%,
    rgba(239, 157, 249, 0.2) 34%,
    rgba(238, 192, 127, 0.25) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.2) 0%,
    rgba(239, 157, 249, 0.2) 34%,
    rgba(238, 192, 127, 0.25) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(192, 153, 218, 0.2) 0%,
    rgba(239, 157, 249, 0.2) 34%,
    rgba(238, 192, 127, 0.25) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c099da",endColorstr="#eec07f",GradientType=1);
}

.leafy {
  background: rgb(186, 249, 227);
  background: -moz-linear-gradient(
    52deg,
    rgba(186, 249, 227, 0.35) 0%,
    rgba(157, 249, 202, 0.35) 50%,
    rgba(57, 154, 120, 0.3) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(186, 249, 227, 0.35) 0%,
    rgba(157, 249, 202, 0.35) 50%,
    rgba(57, 154, 120, 0.3) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(186, 249, 227, 0.35) 0%,
    rgba(157, 249, 202, 0.35) 50%,
    rgba(57, 154, 120, 0.3) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#baf9e3",endColorstr="#399a78",GradientType=1);
}

.leafy-background {
  background: rgb(127, 238, 143);
  background: -moz-linear-gradient(
    52deg,
    rgba(127, 238, 143, 0.2) 0%,
    rgba(157, 249, 202, 0.2) 50%,
    rgba(57, 154, 120, 0.25) 100%
  );
  background: -webkit-linear-gradient(
    52deg,
    rgba(127, 238, 143, 0.2) 0%,
    rgba(157, 249, 202, 0.2) 50%,
    rgba(57, 154, 120, 0.25) 100%
  );
  background: linear-gradient(
    52deg,
    rgba(127, 238, 143, 0.2) 0%,
    rgba(157, 249, 202, 0.2) 50%,
    rgba(57, 154, 120, 0.25) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7fee8f",endColorstr="#399a78",GradientType=1);
}
