<div
  *transloco="let t"
  class="w-full h-full backdrop-blur-[30px] backdrop-brightness-[1.2] px-6 py-4 md:px-8 md:py-6 flex flex-col gap-2 md:gap-6"
  [ngClass]="{
    'text-sky-950': currentFontColorClass === 'text-sky-950',
    'text-white': currentFontColorClass === 'text-white',
    iridescent: getCurrentTheme() === 'iridescent'
  }"
>
  <div class="hidden md:flex flex-row w-full items-center">
    <div class="w-full text-2xl md:text-4xl font-semibold">Settings</div>
    <!-- Close Button-->
    <button
      (click)="closeDialog()"
      class="bg-white/50 flex rounded-full h-11 w-11 shrink-0 items-center justify-center"
    >
      <svg-icon name="x" [svgClass]="'w-8 h-8'"></svg-icon>
    </button>
  </div>

  <div class="flex flex-row gap-2 md:gap-6 flex-wrap">
    <div class="flex flex-col gap-6">
      <div class="w-full text-xl md:text-3xl font-semibold mt-2">
        Temperature
      </div>
      <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
        <button
          [ngClass]="{
            'bg-white/75': getCurrentTemperatureUnits() === 'celsius'
          }"
          (click)="updateTemperatureUnits('celsius')"
          class="flex flex-row items-center justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          Celsius
        </button>
        <button
          [ngClass]="{
            'bg-white/75': getCurrentTemperatureUnits() === 'fahrenheit'
          }"
          (click)="updateTemperatureUnits('fahrenheit')"
          class="flex flex-row items-center justify-center h-8 text-lg px-6 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          Fahrenheit
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <div class="text-xl md:text-3xl font-semibold mt-2">Speed</div>
      <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
        <button
          [ngClass]="{ 'bg-white/75': getCurrentSpeedUnits() === 'kilometers' }"
          (click)="updateSpeedUnits('kilometers')"
          class="flex flex-row items-center justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          Kilometers
        </button>
        <button
          [ngClass]="{ 'bg-white/75': getCurrentSpeedUnits() === 'miles' }"
          (click)="updateSpeedUnits('miles')"
          class="flex flex-row items-center justify-center h-8 text-lg px-6 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          Miles
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-2 md:gap-6 flex-wrap">
    <div class="flex flex-col gap-6">
      <div class="w-full text-xl md:text-3xl font-semibold mt-2">Time</div>
      <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
        <button
          [ngClass]="{ 'bg-white/75': getCurrentTimeFormat() === 24 }"
          (click)="updateTimeFormat(24)"
          class="flex flex-row items-center justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          24-hour
        </button>
        <button
          [ngClass]="{ 'bg-white/75': getCurrentTimeFormat() === 12 }"
          (click)="updateTimeFormat(12)"
          class="flex flex-row items-center justify-center h-8 text-lg px-6 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          12-hour
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <div class="text-xl md:text-3xl font-semibold mt-2">Icons</div>
      <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
        <button
          [ngClass]="{
            'bg-white/75': getCurrentWeatherIconCollection() === 'solid'
          }"
          (click)="updateWeatherIconCollection('solid')"
          class="flex flex-row items-center justify-center h-8 text-lg px-4 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          H h H
        </button>
        <button
          [ngClass]="{
            'bg-white/75': getCurrentWeatherIconCollection() === 'outline'
          }"
          (click)="updateWeatherIconCollection('outline')"
          class="flex flex-row items-center justify-center h-8 text-lg px-6 py-4 rounded-full bg-white/50 drop-shadow-lg"
        >
          Y y Y
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-2 md:gap-6 flex-wrap">
    <div class="flex flex-col gap-6">
      <div class="w-full text-xl md:text-3xl font-semibold mt-2">Theme</div>
      <div class="flex flex-wrap -mt-2 flex-row w-full basis-1 gap-2">
        <button
          [ngClass]="{
            'border-white': getCurrentTheme() === 'default',
            'border-slate-400': getCurrentTheme() !== 'default'
          }"
          (click)="updateTheme('default')"
          class="flex flex-row border-2 border-solid items-center justify-center h-12 w-12 bg-gradient-to-r from-slate-200 text-lg rounded-full drop-shadow-lg"
        ></button>
        <button
          [ngClass]="{
            'border-white': getCurrentTheme() === 'iridescent',
            'border-slate-400': getCurrentTheme() !== 'iridescent'
          }"
          (click)="updateTheme('iridescent')"
          class="flex flex-row border-2 border-solid items-center justify-center h-12 w-12 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-lg rounded-full drop-shadow-lg"
        ></button>
      </div>
    </div>
  </div>

  <div
    class="flex md:hidden mt-auto mb-4 pr-3 flex-row w-full items-center justify-end"
  >
    <!-- Close Button for Screens < md-->

    <button
      (click)="closeDialog()"
      class="flex flex-row items-center justify-center h-12 text-xl px-6 py-5 rounded-full bg-white/50 drop-shadow-lg"
    >
      Close
    </button>
  </div>
</div>
